<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('<u>General</u>') }}</label>
        <label class="control-label">{{ _('') }}</label>
        <br>
        <label class="control-label">{{ _('Hostname') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url">
        </div>
        <br>
        <label class="control-label">{{ _('<u>WiFi Settings</u>') }}</label>
        <label class="control-label">{{ _('') }}</label>
        <br>
        <label class="control-label">{{ _('SSID') }}</label>
        <div class="controls">
            <select name="fruit" multiple>
            <option value ="none">Nothing</option>
            <option value ="guava">Guava</option>
            <option value ="lychee">Lychee</option>
            <option value ="papaya">Papaya</option>
            <option value ="watermelon">Watermelon</option>
            </select>
        </div>
        <br>
        <label class="control-label">{{ _('Passkey') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url">
        </div>
    </div>
</form>
