<div style="display: none;" data-bind="visible: loginState.isAdmin">
        <form class="form-horizontal">
          <h1>{{ _('General Configuration') }}</h1>
            <div class="control-group">
                <label class="control-label">{{ _('Hostname') }}</label>
                <div class="controls">
                  <input type="text" style="width:200px" class="input-block-level" data-bind="value: settings.plugins.NetworksetupPlugin.hostname">
                </div>
            </div>

        <h1>{{ _('WiFi Setup') }}</h1>
            <div class="control-group">
                <label class="control-label">{{ _('SSID') }}</label>
                <div class="controls">
                    <select name="fruit" multiple>
                    <option value ="none">Nothing</option>
                    <option value ="guava">Guava</option>
                    <option value ="lychee">Lychee</option>
                    <option value ="papaya">Papaya</option>
                    <option value ="watermelon">Watermelon</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Passkey') }}</label>
                <div class="controls">
                  <input type="text" style="width:200px" class="input-block-level" data-bind="value: settings.plugins.NetworksetupPlugin.passkey">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="webcam_timelapse_mode">{{ _('Timelapse Mode') }}</label>
                <div class="controls">
                    <select id="webcam_timelapse_mode" data-bind="value: timelapseType, enable: !isPrinting() && loginState.isUser()">
                        <option value="off">{{ _('Off') }}</option>
                        <option value="timed">{{ _('Timed') }}</option>
                        <option value="zchange">{{ _('On Z Change') }}</option>
                    </select>
                    <span class="help-block" data-bind="visible: timelapseType() == 'zchange'"><span class="label label-info">{{ _('Note') }}</span> {% trans %}Does not work when printing from the printer's SD Card (no way to detect the change in Z reliably). Use "Timed" mode for those prints instead.{% endtrans %}</span>
                </div>
            </div>

            <div id="webcam_timelapse_mindelay" class="control-group" data-bind="visible: timelapseType() == 'zchange'">
                <label class="control-label" for="webcam_timelapse_minDelay">{{ _('Minimum interval') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" class="input-mini" id="webcam_timelapse_minDelay" data-bind="value: timelapseMinDelay, valueUpdate: 'afterkeydown', enable: !isPrinting() && loginState.isUser()">
                        <span class="add-on">{{ _('sec') }}</span>
                    </div>
                    <span class="help-block">{{ _('OctoPrint will rate limit snapshots to this minimum interval. This it to prevent against performance issues with vase mode/continous z prints.') }}</span>
                </div>
            </div>

            <div id="webcam_timelapse_timedsettings" class="control-group" data-bind="visible: intervalInputEnabled">
                <label class="control-label" for="webcam_timelapse_interval">{{ _('Snapshot interval') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" class="input-mini" id="webcam_timelapse_interval" data-bind="value: timelapseTimedInterval, valueUpdate: 'afterkeydown', enable: !isPrinting() && loginState.isUser()">
                        <span class="add-on">{{ _('sec') }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="webcam_timelapse_fps">{{ _('Timelapse frame rate') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" class="input-mini" id="webcam_timelapse_fps" data-bind="value: timelapseFps, valueUpdate: 'afterkeydown', enable: !isPrinting() && loginState.isUser() && timelapseTypeSelected()">
                        <span class="add-on">{{ _('fps') }}</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="webcam_timelapse_postRoll">{{ _('Timelapse post roll') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="0" class="input-mini" id="webcam_timelapse_postRoll" data-bind="value: timelapsePostRoll, valueUpdate: 'afterkeydown', enable: !isPrinting() && loginState.isUser() && timelapseTypeSelected()">
                        <span class="add-on">{{ _('sec') }}</span>
                    </div>
                    <span class="help-block">{{ _('OctoPrint will use the final picture to add this many seconds to the end of your rendered timelapse.') }}</span>
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <strong class="text-center text-block" data-bind="visible: saveButtonEnabled">{{ _('You have unsaved changes. Don\'t forget to save them.') }}</strong>
                    <button class="btn btn-primary btn-block" data-bind="click: save, enable: saveButtonEnabled">{{ _('Save changes') }}</button>
                    <button class="btn btn-block" data-bind="click: reset, enable: resetButtonEnabled">{{ _('Reset to active configuration') }}</button>
                </div>
            </div>
        </form>
</div>
