<div class="input-append">
    <legend>General</legend>
    <div class="control-group">
        <label class="control-label">{{ _('Hostname') }}</label>
        <div class="controls">
            <input type="text" style="width:200px" class="input-block-level" data-bind="value: settings.plugins.NetworksetupPlugin.hostname">
        </div>
    </div>
    <legend>WiFi Settings</legend>
    <div class="control-group">
        <label class="control-label">{{ _('SSID') }}</label>
        <div class="controls">
            <select name="fruit" multiple>
            <option value ="none">Nothing</option>
            <option value ="guava">Guava</option>
            <option value ="lychee">Lychee</option>
            <option value ="papaya">Papaya</option>
            <option value ="watermelon">Watermelon</option>
            </select>
        </div>
        <br>
        <label class="control-label">{{ _('Passkey') }}</label>
        <div class="controls">
            <input type="text" style="width:200px" class="input-block-level" data-bind="value: settings.plugins.NetworksetupPlugin.passkey">
        </div>
    </div>
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Accept') }}</button>
</div>


<iframe data-bind="attr: {src: currentUrl}" style="width: 100%; height: 600px; border: 1px solid #808080"></iframe>
